extends layout

block content
  h1= title
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          a.navbar-brand(href='/') Pub Surf
      .collapse.navbar-collapse
          ul.nav.navbar-nav
              li.active
                  a(href='/') Home
              li
                  a(href='/login') Login
              li
                  a(href='/create') Create Account
              li
                  a(href='/wall') Wall
              if user
                li 
                    a(href='/logout') Útskrá
  header
    .owl-carousel
      .item
        h3.htexti Beer Crawl 
        img(src='images/beer_crawl.jpg', alt='picture of a lake') 
      .item.well
        h4 2     
      .item.well
        h4 3    
      .item.well
        h4 4
    